[Desktop Entry]
Name=OS Upgrade
Comment=View system upgrade information
Exec=gnome-control-center upgrade
Icon=software-update-available-symbolic
Terminal=false
Type=Application
NoDisplay=true
StartupNotify=true
Categories=GNOME;GTK;Settings;X-GNOME-Settings-Panel;HardwareSettings;X-GNOME-DetailsSettings;
OnlyShowIn=GNOME;Unity;
Keywords=OS;Upgrade;
# Notifications are emitted by gnome-settings-daemon
X-GNOME-UsesNotifications=true
X-Ubuntu-Gettext-Domain=gnome-control-center-2.0
